body {
  font-family:"Garamond";
}

.header-list a {
  list-style: none;
  font-size: 19px;
  float: right;
  padding: 30px 40px;
  color: #bba187;
}

.header{
  background-color: #fae4cc;
  height: 90px;
  font-size: 40px;
}

.header-logo{
  font-size: 36px;
  float: left;
  padding: 15px 35px
  color: #bba187;
}

.main{
  background-image:url(https://wallpaperaccess.com/full/635988.png);
  height: 600px
}

.footer{
  background-color: #ebd4b4;
  height: 270px;
}

.main h1{
  text-align: center;
}
